# Board: Generic ESP32-S3
# Chip:  ESP32-S3 — dual-core Xtensa LX7, native USB, BLE 5, AI acceleration

CONFIG_BOARD_DUAL_CORE=y
CONFIG_BOARD_HAS_BT_CLASSIC=n
CONFIG_BOARD_HAS_BLE=y
CONFIG_BOARD_HAS_WIFI=y
CONFIG_BOARD_HAS_NATIVE_USB=y
CONFIG_BOARD_HAS_ZIGBEE=n

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y

# Native USB — use USB-OTG for serial monitor on S3
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
