# Board: Generic ESP32-H2
# Chip:  ESP32-H2 — single-core RISC-V, NO WiFi, Zigbee/Thread, BLE 5

CONFIG_BOARD_DUAL_CORE=n
CONFIG_BOARD_HAS_BT_CLASSIC=n
CONFIG_BOARD_HAS_BLE=y
CONFIG_BOARD_HAS_WIFI=n
CONFIG_BOARD_HAS_NATIVE_USB=n
CONFIG_BOARD_HAS_ZIGBEE=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_48M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y

# H2 has no WiFi — disable WiFi-dependent components
CONFIG_WEBSERVER_REQUIRES_WIFI=n
