# Board: Generic ESP32-C6
# Chip:  ESP32-C6 — single-core RISC-V, WiFi 6, Zigbee, Thread, BLE 5

CONFIG_BOARD_DUAL_CORE=n
CONFIG_BOARD_HAS_BT_CLASSIC=n
CONFIG_BOARD_HAS_BLE=y
CONFIG_BOARD_HAS_WIFI=y
CONFIG_BOARD_HAS_NATIVE_USB=y
CONFIG_BOARD_HAS_ZIGBEE=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
